{% extends "layout.html" %}

{% block content %}


<p style="text-align: justify;">
    <span style="font-size: 14px;">
        <span style="color: rgb(89, 89, 89);">


            <h3 align="center"> <strong>CONTROL AMBIENTAL DE DATACENTER</strong></h3>
            A medida que el comercio por Internet gana popularidad, el tiempo de actividad del servidor es esencial para las empresas. 
            El tiempo de actividad es una medida de cuánto tiempo los servidores permanecen operativos para los usuarios sin que se bloquee o requiera un reinicio. 
            Las interacciones entre los servidores y su entorno a menudo plantean un riesgo importante para la disponibilidad del servidor, con amenazas potenciales tales como temperatura, humedad, fugas de agua, intrusión, vibración, error humano y cortes de energía. 
            Los costos de las amenazas ambientales para los centros de datos incluyen: reemplazo de artículos dañados, menor productividad del trabajador debido al tiempo de inactividad, pérdida de ingresos por aplicaciones no disponibles basadas en servidores y tiempo administrativo adicional y dinero invertido en la investigación y resolución de problemas. 
            Una parte crucial para mantener la alta disponibilidad radica en identificar y monitorear las amenazas ambientales en las salas de servidores, lo que permite una pronta respuesta a los peligros detectados antes de que escalen. <br>
            
            <br><strong>Temperatura</strong><br>
               Coloque los sensores de temperatura en los bastidores del servidor y en los respiraderos del sistema de aire acondicionado para controlar las temperaturas de los estantes y los pasillos fríos y calientes. 
               El calor excesivo degrada el rendimiento de la red, provoca tiempo de inactividad y puede provocar daños en el equipo. Evite que los servidores se sobrecalienten, sufra una fusión y costosos reemplazos.<br>
                   <div align="center"><img src="static/dist/img/temp1.gif" width="350" height="200"></div>
              
            <br><strong>Humedad</strong><br>
               La alta humedad causa condensación y crecimiento de hongos, lo que puede provocar cortocircuitos eléctricos en los circuitos o interruptores automáticos y dañar el equipo. La baja humedad aumenta las posibilidades de descarga electrostática (ESD) y la ruptura de ciertos plásticos.<br>
               <div align="center"><img src="static/dist/img/hum.jpg" width="300" height="200"></div>
            
            <br><strong>Humo y Gas</strong><br>
               El monitoreo para desarrollar humo es esencial en la seguridad de cualquier instalación. Los detectores de humo ayudan a detectar los signos iniciales de los incendios de los componentes en los gabinetes de los servidores. 
               Los sensores también están disponibles para detectar monóxido de carbono, dióxido de carbono, gas combustible (metano, propano, butano, acetileno, etc.) y gas de hidrógeno.<br>
               <div align="center"><img src="static/dist/img/MQ2.gif" width="350" height="200"></div>
            
            <br><strong>Control de acceso e intrusión</strong><br>
               Los teclados, las cerraduras eléctricas de las puertas y los sensores de contacto de la puerta restringen y supervisan el acceso a los lugares de entrada clave, como las puertas hacia un centro de datos y las puertas de los armarios de la red y los gabinetes UPS. <br>
                 <div align="center"><img src="static/dist/img/puerta.jpg" width="300" height="200"></div>
            
            <br><strong>Energía</strong><br>
               Detecte la presencia o ausencia de voltaje de línea y monitoree el voltaje, frecuencia, potencia, caídas de tensión y corriente de fuentes de alimentación ininterrumpida (UPS). Configure el apagado de los equipos cuando no haya energía suficiente para minimizar el daño a los equipos clave de TI.<br>
               <div align="center"><img src="static/dist/img/volt.gif" width="350" height="200"></div>
            
            <br><strong>Cámara de seguridad</strong><br>
              Use cámaras de vigilancia IP para inspeccionar visualmente los recursos y recursos de la empresa a través de un navegador desde cualquier parte del mundo. La vigilancia en tiempo real puede rastrear la entrada de personal en los teclados y permite ver de primera mano las ubicaciones importantes cuando se activa una alarma para una evaluación rápida de las amenazas.<br>
              <div align="center"><img src="static/dist/img/cam.gif" width="350" height="200"></div>
             
              <br>
              <br>
              <br>
              Fuente: https://www.metacom.cl/control-ambiental-de-datacenter
       </span>
   </span>
</p>
{% endblock %}